In [67]:
%reload_ext autoreload
%autoreload 2

In [68]:
import os
import sys
from sklearn.datasets import fetch_openml

In [69]:
sys.path.append(os.path.join(os.getcwd(), '..'))

from utils import *
from models import *
from experiments import *

In [70]:
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

# Jura Data

In [71]:
jura_data = fetch_openml(data_id=41554, as_frame=True)

In [72]:
# Run multitask trial with normalized data
jura_multitask_metrics, jura_multitask_hps, jura_multitask_results = xg_boost_trial(
    data=jura_data,
    normalize=True,
    cross_validation_k=5,
    multi_task=True,
    data_name='jura_norm_multitask',
)

2025-04-08 12:19:53,970 - INFO - Running multi-task trial
100%|██████████| 72/72 [02:39<00:00,  2.22s/it]
2025-04-08 12:22:33,826 - INFO - Best metrics: {'MSE': array([  0.33320416,   4.15276729, 165.32544016]), 'R2': array([0.54527372, 0.66797458, 0.69491386])}
2025-04-08 12:22:33,827 - INFO - Best hyperparameters: {'num_est': 500, 'max_d': 2, 'lr': 0.1}

In [73]:
# Run multitask trial without normalization
jura_multitask_metrics, jura_multitask_hps, jura_multitask_results = xg_boost_trial(
    data=jura_data,
    normalize=False,
    cross_validation_k=5,
    multi_task=True,
    data_name='jura_no_norm_multitask',
)

2025-04-08 12:22:34,000 - INFO - Running multi-task trial
100%|██████████| 72/72 [02:37<00:00,  2.19s/it]
2025-04-08 12:25:11,336 - INFO - Best metrics: {'MSE': array([  0.32620767,   4.16816959, 166.50717716]), 'R2': array([0.55265462, 0.6666662 , 0.69191521])}
2025-04-08 12:25:11,336 - INFO - Best hyperparameters: {'num_est': 500, 'max_d': 2, 'lr': 0.1}

In [74]:
# Run single task trial with normalized data
jura_single_task_metrics, jura_single_task_hps, jura_single_task_results = xg_boost_trial(
    data=jura_data,
    normalize=True,
    cross_validation_k=5,
    multi_task=False,
    data_name='jura_norm_single_task',
)

2025-04-08 12:25:11,491 - INFO - Running single-task trial
2025-04-08 12:25:11,491 - INFO - Number of targets: 3
2025-04-08 12:25:11,492 - INFO - Running trial for target: Cd
100%|██████████| 72/72 [01:14<00:00,  1.03s/it]
2025-04-08 12:26:25,967 - INFO - Cd Best metrics: {'MSE': 0.3370419339756432, 'R2': 0.5393191684186964}
2025-04-08 12:26:25,967 - INFO - Cd Best hyperparameters: {'num_est': 100, 'max_d': 5, 'lr': 0.1}
2025-04-08 12:26:25,968 - INFO - Running trial for target: Co
100%|██████████| 72/72 [01:12<00:00,  1.01s/it]
2025-04-08 12:27:38,867 - INFO - Co Best metrics: {'MSE': 3.479059245464112, 'R2': 0.7216449397093337}
2025-04-08 12:27:38,868 - INFO - Co Best hyperparameters: {'num_est': 100, 'max_d': 5, 'lr': 0.1}
2025-04-08 12:27:38,868 - INFO - Running trial for target: Cu
100%|██████████| 72/72 [01:12<00:00,  1.01s/it]
2025-04-08 12:28:51,335 - INFO - Cu Best metrics: {'MSE': 157.99285982343662, 'R2': 0.7238361751321113}
2025-04-08 12:28:51,336 - INFO - Cu Best hyperparameters: {'num_est': 500, 'max_d': 5, 'lr': 0.01}
2025-04-08 12:28:51,336 - INFO - Complete best metrics: {'Cd': {'MSE': 0.3370419339756432, 'R2': 0.5393191684186964}, 'Co': {'MSE': 3.479059245464112, 'R2': 0.7216449397093337}, 'Cu': {'MSE': 157.99285982343662, 'R2': 0.7238361751321113}}
2025-04-08 12:28:51,336 - INFO - Complete best hyperparameters: {'Cd': {'num_est': 100, 'max_d': 5, 'lr': 0.1}, 'Co': {'num_est': 100, 'max_d': 5, 'lr': 0.1}, 'Cu': {'num_est': 500, 'max_d': 5, 'lr': 0.01}}

In [75]:
# Run single task trial without normalization
jura_single_task_metrics, jura_single_task_hps, jura_single_task_results = xg_boost_trial(
    data=jura_data,
    normalize=False,
    cross_validation_k=5,
    multi_task=False,
    data_name='jura_no_norm_single_task',
)

2025-04-08 12:28:51,608 - INFO - Running single-task trial
2025-04-08 12:28:51,609 - INFO - Number of targets: 3
2025-04-08 12:28:51,609 - INFO - Running trial for target: Cd
100%|██████████| 72/72 [01:08<00:00,  1.04it/s]
2025-04-08 12:30:00,512 - INFO - Cd Best metrics: {'MSE': 0.3370419135154396, 'R2': 0.5393191779566326}
2025-04-08 12:30:00,512 - INFO - Cd Best hyperparameters: {'num_est': 100, 'max_d': 5, 'lr': 0.1}
2025-04-08 12:30:00,512 - INFO - Running trial for target: Co
100%|██████████| 72/72 [01:11<00:00,  1.00it/s]
2025-04-08 12:31:12,441 - INFO - Co Best metrics: {'MSE': 3.4790594444065968, 'R2': 0.7216449218102079}
2025-04-08 12:31:12,442 - INFO - Co Best hyperparameters: {'num_est': 100, 'max_d': 5, 'lr': 0.1}
2025-04-08 12:31:12,442 - INFO - Running trial for target: Cu
100%|██████████| 72/72 [01:15<00:00,  1.05s/it]
2025-04-08 12:32:27,836 - INFO - Cu Best metrics: {'MSE': 158.03837993288073, 'R2': 0.7236878323553718}
2025-04-08 12:32:27,836 - INFO - Cu Best hyperparameters: {'num_est': 500, 'max_d': 5, 'lr': 0.01}
2025-04-08 12:32:27,837 - INFO - Complete best metrics: {'Cd': {'MSE': 0.3370419135154396, 'R2': 0.5393191779566326}, 'Co': {'MSE': 3.4790594444065968, 'R2': 0.7216449218102079}, 'Cu': {'MSE': 158.03837993288073, 'R2': 0.7236878323553718}}
2025-04-08 12:32:27,837 - INFO - Complete best hyperparameters: {'Cd': {'num_est': 100, 'max_d': 5, 'lr': 0.1}, 'Co': {'num_est': 100, 'max_d': 5, 'lr': 0.1}, 'Cu': {'num_est': 500, 'max_d': 5, 'lr': 0.01}}

# ENB Data

In [76]:
enb_data = fetch_openml(data_id=41553, as_frame=True)

In [77]:
# Run multitask trial with normalized data
enb_multitask_metrics, enb_multitask_hps, enb_multitask_results = xg_boost_trial(
    data=enb_data,
    normalize=True,
    cross_validation_k=5,
    multi_task=True,
    data_name='enb_norm_multitask',
)

2025-04-08 12:32:28,062 - INFO - Running multi-task trial
100%|██████████| 72/72 [01:36<00:00,  1.34s/it]
2025-04-08 12:34:04,491 - INFO - Best metrics: {'MSE': array([0.12399657, 0.37495954]), 'R2': array([0.99876613, 0.99583505])}
2025-04-08 12:34:04,491 - INFO - Best hyperparameters: {'num_est': 3000, 'max_d': 5, 'lr': 0.1}

In [78]:
# Run multitask trial without normalization
enb_multitask_metrics, enb_multitask_hps, enb_multitask_results = xg_boost_trial(
    data=enb_data,
    normalize=False,
    cross_validation_k=5,
    multi_task=True,
    data_name='enb_no_norm_multitask',
)

2025-04-08 12:34:04,614 - INFO - Running multi-task trial
100%|██████████| 72/72 [01:34<00:00,  1.32s/it]
2025-04-08 12:35:39,418 - INFO - Best metrics: {'MSE': array([0.12796389, 0.36599412]), 'R2': array([0.99872237, 0.99593835])}
2025-04-08 12:35:39,418 - INFO - Best hyperparameters: {'num_est': 3000, 'max_d': 5, 'lr': 0.1}

In [79]:
# Run single task trial with normalized data
enb_single_task_metrics, enb_single_task_hps, enb_single_task_results = xg_boost_trial(
    data=enb_data,
    normalize=True,
    cross_validation_k=5,
    multi_task=False,
    data_name='enb_norm_single_task',
)

2025-04-08 12:35:39,553 - INFO - Running single-task trial
2025-04-08 12:35:39,553 - INFO - Number of targets: 2
2025-04-08 12:35:39,554 - INFO - Running trial for target: Y1
100%|██████████| 72/72 [00:55<00:00,  1.30it/s]
2025-04-08 12:36:34,778 - INFO - Y1 Best metrics: {'MSE': 0.12793584005269937, 'R2': 0.9987293244171264}
2025-04-08 12:36:34,779 - INFO - Y1 Best hyperparameters: {'num_est': 3000, 'max_d': 5, 'lr': 0.01}
2025-04-08 12:36:34,779 - INFO - Running trial for target: Y2
100%|██████████| 72/72 [00:56<00:00,  1.27it/s]
2025-04-08 12:37:31,581 - INFO - Y2 Best metrics: {'MSE': 0.3977274113620496, 'R2': 0.9955907340942606}
2025-04-08 12:37:31,581 - INFO - Y2 Best hyperparameters: {'num_est': 3000, 'max_d': 5, 'lr': 0.1}
2025-04-08 12:37:31,581 - INFO - Complete best metrics: {'Y1': {'MSE': 0.12793584005269937, 'R2': 0.9987293244171264}, 'Y2': {'MSE': 0.3977274113620496, 'R2': 0.9955907340942606}}
2025-04-08 12:37:31,581 - INFO - Complete best hyperparameters: {'Y1': {'num_est': 3000, 'max_d': 5, 'lr': 0.01}, 'Y2': {'num_est': 3000, 'max_d': 5, 'lr': 0.1}}

In [80]:
# Run single task trial without normalization
enb_single_task_metrics, enb_single_task_hps, enb_single_task_results = xg_boost_trial(
    data=enb_data,
    normalize=False,
    cross_validation_k=5,
    multi_task=False,
    data_name='enb_no_norm_single_task',
)

2025-04-08 12:37:31,734 - INFO - Running single-task trial
2025-04-08 12:37:31,735 - INFO - Number of targets: 2
2025-04-08 12:37:31,735 - INFO - Running trial for target: Y1
100%|██████████| 72/72 [00:55<00:00,  1.30it/s]
2025-04-08 12:38:26,930 - INFO - Y1 Best metrics: {'MSE': 0.1257138159432192, 'R2': 0.9987463920422164}
2025-04-08 12:38:26,931 - INFO - Y1 Best hyperparameters: {'num_est': 500, 'max_d': 5, 'lr': 0.1}
2025-04-08 12:38:26,931 - INFO - Running trial for target: Y2
100%|██████████| 72/72 [00:56<00:00,  1.28it/s]
2025-04-08 12:39:23,275 - INFO - Y2 Best metrics: {'MSE': 0.3987023864982944, 'R2': 0.9955782066229402}
2025-04-08 12:39:23,275 - INFO - Y2 Best hyperparameters: {'num_est': 3000, 'max_d': 5, 'lr': 0.1}
2025-04-08 12:39:23,276 - INFO - Complete best metrics: {'Y1': {'MSE': 0.1257138159432192, 'R2': 0.9987463920422164}, 'Y2': {'MSE': 0.3987023864982944, 'R2': 0.9955782066229402}}
2025-04-08 12:39:23,276 - INFO - Complete best hyperparameters: {'Y1': {'num_est': 500, 'max_d': 5, 'lr': 0.1}, 'Y2': {'num_est': 3000, 'max_d': 5, 'lr': 0.1}}

# ATP1D Data

In [81]:
atp1d_data = fetch_openml(data_id=41550, as_frame=True)

In [82]:
# Drop zero variance columns
atp1d_data.data = atp1d_data.data.loc[:, atp1d_data.data.nunique() > 1]

print("Zero variance columns:")
print((atp1d_data.data.nunique() <= 1).sum())

Zero variance columns:
0

In [83]:
# Run multitask trial with normalized data
atp1d_multitask_metrics, atp1d_multitask_hps, atp1d_multitask_results = xg_boost_trial(
    data=atp1d_data,
    normalize=True,
    cross_validation_k=5,
    multi_task=True,
    data_name='atp1d_norm_multitask',
)

2025-04-08 12:39:23,650 - INFO - Running multi-task trial
100%|██████████| 72/72 [1:10:56<00:00, 59.12s/it]
2025-04-08 13:50:20,393 - INFO - Best metrics: {'MSE': array([1709.50968944, 8965.68177296, 5666.49140706, 1888.74119437,
       2056.0841468 , 2042.7943634 ]), 'R2': array([0.81225369, 0.85203047, 0.82294898, 0.92508933, 0.84451508,
       0.92655207])}
2025-04-08 13:50:20,396 - INFO - Best hyperparameters: {'num_est': 3000, 'max_d': 5, 'lr': 0.01}

In [84]:
# Run multitask trial without normalization
atp1d_multitask_metrics, atp1d_multitask_hps, atp1d_multitask_results = xg_boost_trial(
    data=atp1d_data,
    normalize=False,
    cross_validation_k=5,
    multi_task=True,
    data_name='atp1d_no_norm_multitask',
)

2025-04-08 13:50:20,874 - INFO - Running multi-task trial
100%|██████████| 72/72 [1:36:45<00:00, 80.63s/it]
2025-04-08 15:27:06,618 - INFO - Best metrics: {'MSE': array([1740.8695, 9037.979 , 5735.6665, 1912.8171, 2093.1458, 2071.2974],
      dtype=float32), 'R2': array([0.8087829 , 0.8504154 , 0.82083166, 0.9241756 , 0.84156096,
       0.9255558 ], dtype=float32)}
2025-04-08 15:27:06,621 - INFO - Best hyperparameters: {'num_est': 3000, 'max_d': 5, 'lr': 0.01}

In [85]:
# Run single task trial with normalized data
atp1d_single_task_metrics, atp1d_single_task_hps, atp1d_single_task_results = xg_boost_trial(
    data=atp1d_data,
    normalize=True,
    cross_validation_k=5,
    multi_task=False,
    data_name='atp1d_norm_single_task',
)

2025-04-08 15:27:07,682 - INFO - Running single-task trial
2025-04-08 15:27:07,682 - INFO - Number of targets: 6
2025-04-08 15:27:07,682 - INFO - Running trial for target: LBL_ALLminpA_fut_001
100%|██████████| 72/72 [07:56<00:00,  6.62s/it]
2025-04-08 15:35:04,641 - INFO - LBL_ALLminpA_fut_001 Best metrics: {'MSE': 2031.561790870767, 'R2': 0.769280012447416}
2025-04-08 15:35:04,642 - INFO - LBL_ALLminpA_fut_001 Best hyperparameters: {'num_est': 50, 'max_d': 2, 'lr': 0.1}
2025-04-08 15:35:04,642 - INFO - Running trial for target: LBL_ALLminp0_fut_001
100%|██████████| 72/72 [07:46<00:00,  6.48s/it]
2025-04-08 15:42:51,286 - INFO - LBL_ALLminp0_fut_001 Best metrics: {'MSE': 10048.483089547943, 'R2': 0.832371794625381}
2025-04-08 15:42:51,286 - INFO - LBL_ALLminp0_fut_001 Best hyperparameters: {'num_est': 3000, 'max_d': 1, 'lr': 0.01}
2025-04-08 15:42:51,286 - INFO - Running trial for target: LBL_aDLminpA_fut_001
100%|██████████| 72/72 [08:20<00:00,  6.95s/it]
2025-04-08 15:51:11,407 - INFO - LBL_aDLminpA_fut_001 Best metrics: {'MSE': 6151.690157043276, 'R2': 0.8068843213487213}
2025-04-08 15:51:11,407 - INFO - LBL_aDLminpA_fut_001 Best hyperparameters: {'num_est': 1000, 'max_d': 1, 'lr': 0.01}
2025-04-08 15:51:11,407 - INFO - Running trial for target: LBL_aCOminpA_fut_001
100%|██████████| 72/72 [07:47<00:00,  6.50s/it]
2025-04-08 15:58:59,233 - INFO - LBL_aCOminpA_fut_001 Best metrics: {'MSE': 1568.4158827034184, 'R2': 0.9391036150284752}
2025-04-08 15:58:59,234 - INFO - LBL_aCOminpA_fut_001 Best hyperparameters: {'num_est': 500, 'max_d': 3, 'lr': 0.1}
2025-04-08 15:58:59,234 - INFO - Running trial for target: LBL_aFLminpA_fut_001
100%|██████████| 72/72 [07:57<00:00,  6.63s/it]
2025-04-08 16:06:56,928 - INFO - LBL_aFLminpA_fut_001 Best metrics: {'MSE': 2471.7424905612543, 'R2': 0.811134085059997}
2025-04-08 16:06:56,929 - INFO - LBL_aFLminpA_fut_001 Best hyperparameters: {'num_est': 500, 'max_d': 3, 'lr': 0.01}
2025-04-08 16:06:56,929 - INFO - Running trial for target: LBL_aUAminpA_fut_001
100%|██████████| 72/72 [07:34<00:00,  6.31s/it]
2025-04-08 16:14:31,140 - INFO - LBL_aUAminpA_fut_001 Best metrics: {'MSE': 1574.5765709922234, 'R2': 0.9442076618910681}
2025-04-08 16:14:31,141 - INFO - LBL_aUAminpA_fut_001 Best hyperparameters: {'num_est': 3000, 'max_d': 3, 'lr': 0.1}
2025-04-08 16:14:31,141 - INFO - Complete best metrics: {'LBL_ALLminpA_fut_001': {'MSE': 2031.561790870767, 'R2': 0.769280012447416}, 'LBL_ALLminp0_fut_001': {'MSE': 10048.483089547943, 'R2': 0.832371794625381}, 'LBL_aDLminpA_fut_001': {'MSE': 6151.690157043276, 'R2': 0.8068843213487213}, 'LBL_aCOminpA_fut_001': {'MSE': 1568.4158827034184, 'R2': 0.9391036150284752}, 'LBL_aFLminpA_fut_001': {'MSE': 2471.7424905612543, 'R2': 0.811134085059997}, 'LBL_aUAminpA_fut_001': {'MSE': 1574.5765709922234, 'R2': 0.9442076618910681}}
2025-04-08 16:14:31,142 - INFO - Complete best hyperparameters: {'LBL_ALLminpA_fut_001': {'num_est': 50, 'max_d': 2, 'lr': 0.1}, 'LBL_ALLminp0_fut_001': {'num_est': 3000, 'max_d': 1, 'lr': 0.01}, 'LBL_aDLminpA_fut_001': {'num_est': 1000, 'max_d': 1, 'lr': 0.01}, 'LBL_aCOminpA_fut_001': {'num_est': 500, 'max_d': 3, 'lr': 0.1}, 'LBL_aFLminpA_fut_001': {'num_est': 500, 'max_d': 3, 'lr': 0.01}, 'LBL_aUAminpA_fut_001': {'num_est': 3000, 'max_d': 3, 'lr': 0.1}}

In [86]:
# Run single task trial without normalization
atp1d_single_task_metrics, atp1d_single_task_hps, atp1d_single_task_results = xg_boost_trial(
    data=atp1d_data,
    normalize=False,
    cross_validation_k=5,
    multi_task=False,
    data_name='atp1d_no_norm_single_task',
)

2025-04-08 16:14:31,443 - INFO - Running single-task trial
2025-04-08 16:14:31,443 - INFO - Number of targets: 6
2025-04-08 16:14:31,443 - INFO - Running trial for target: LBL_ALLminpA_fut_001
100%|██████████| 72/72 [08:13<00:00,  6.86s/it]
2025-04-08 16:22:45,135 - INFO - LBL_ALLminpA_fut_001 Best metrics: {'MSE': 2031.5616455078125, 'R2': 0.7692800164222717}
2025-04-08 16:22:45,136 - INFO - LBL_ALLminpA_fut_001 Best hyperparameters: {'num_est': 50, 'max_d': 2, 'lr': 0.1}
2025-04-08 16:22:45,137 - INFO - Running trial for target: LBL_ALLminp0_fut_001
100%|██████████| 72/72 [08:11<00:00,  6.83s/it]
2025-04-08 16:30:56,794 - INFO - LBL_ALLminp0_fut_001 Best metrics: {'MSE': 10048.459375, 'R2': 0.8323590278625488}
2025-04-08 16:30:56,795 - INFO - LBL_ALLminp0_fut_001 Best hyperparameters: {'num_est': 3000, 'max_d': 1, 'lr': 0.01}
2025-04-08 16:30:56,795 - INFO - Running trial for target: LBL_aDLminpA_fut_001
100%|██████████| 72/72 [08:17<00:00,  6.91s/it]
2025-04-08 16:39:14,615 - INFO - LBL_aDLminpA_fut_001 Best metrics: {'MSE': 6151.689599609375, 'R2': 0.8068843364715577}
2025-04-08 16:39:14,616 - INFO - LBL_aDLminpA_fut_001 Best hyperparameters: {'num_est': 1000, 'max_d': 1, 'lr': 0.01}
2025-04-08 16:39:14,616 - INFO - Running trial for target: LBL_aCOminpA_fut_001
100%|██████████| 72/72 [07:29<00:00,  6.24s/it]
2025-04-08 16:46:43,844 - INFO - LBL_aCOminpA_fut_001 Best metrics: {'MSE': 1569.6568359375, 'R2': 0.9390464186668396}
2025-04-08 16:46:43,845 - INFO - LBL_aCOminpA_fut_001 Best hyperparameters: {'num_est': 500, 'max_d': 3, 'lr': 0.1}
2025-04-08 16:46:43,845 - INFO - Running trial for target: LBL_aFLminpA_fut_001
100%|██████████| 72/72 [47:56<00:00, 39.95s/it]
2025-04-08 17:34:39,924 - INFO - LBL_aFLminpA_fut_001 Best metrics: {'MSE': 2471.742529296875, 'R2': 0.8111340999603271}
2025-04-08 17:34:39,925 - INFO - LBL_aFLminpA_fut_001 Best hyperparameters: {'num_est': 500, 'max_d': 3, 'lr': 0.01}
2025-04-08 17:34:39,925 - INFO - Running trial for target: LBL_aUAminpA_fut_001
100%|██████████| 72/72 [07:02<00:00,  5.87s/it]
2025-04-08 17:41:42,633 - INFO - LBL_aUAminpA_fut_001 Best metrics: {'MSE': 1575.127685546875, 'R2': 0.9441877007484436}
2025-04-08 17:41:42,634 - INFO - LBL_aUAminpA_fut_001 Best hyperparameters: {'num_est': 1000, 'max_d': 3, 'lr': 0.1}
2025-04-08 17:41:42,634 - INFO - Complete best metrics: {'LBL_ALLminpA_fut_001': {'MSE': 2031.5616455078125, 'R2': 0.7692800164222717}, 'LBL_ALLminp0_fut_001': {'MSE': 10048.459375, 'R2': 0.8323590278625488}, 'LBL_aDLminpA_fut_001': {'MSE': 6151.689599609375, 'R2': 0.8068843364715577}, 'LBL_aCOminpA_fut_001': {'MSE': 1569.6568359375, 'R2': 0.9390464186668396}, 'LBL_aFLminpA_fut_001': {'MSE': 2471.742529296875, 'R2': 0.8111340999603271}, 'LBL_aUAminpA_fut_001': {'MSE': 1575.127685546875, 'R2': 0.9441877007484436}}
2025-04-08 17:41:42,635 - INFO - Complete best hyperparameters: {'LBL_ALLminpA_fut_001': {'num_est': 50, 'max_d': 2, 'lr': 0.1}, 'LBL_ALLminp0_fut_001': {'num_est': 3000, 'max_d': 1, 'lr': 0.01}, 'LBL_aDLminpA_fut_001': {'num_est': 1000, 'max_d': 1, 'lr': 0.01}, 'LBL_aCOminpA_fut_001': {'num_est': 500, 'max_d': 3, 'lr': 0.1}, 'LBL_aFLminpA_fut_001': {'num_est': 500, 'max_d': 3, 'lr': 0.01}, 'LBL_aUAminpA_fut_001': {'num_est': 1000, 'max_d': 3, 'lr': 0.1}}

In [ ]:
# Look at characteristics of the datasets
print("Jura Data Characteristics:")
print(f'Number of features: {jura_data.data.shape[1]}')
jura_data.data.describe()

Jura Data Characteristics:
Number of features: 15

,Xloc,Yloc,Landuse_1,Landuse_2,Landuse_3,Landuse_4,Rock_1,Rock_2,Rock_3,Rock_4,Rock_5,Cr,Ni,Pb,Zn
count,359.000000,359.000000,359.000000,359.000000,359.000000,359.000000,359.000000,359.000000,359.000000,359.000000,359.000000,359.000000,359.000000,359.000000,359.000000
mean,2.963384,2.631769,0.142061,0.228412,0.607242,0.022284,0.211699,0.345404,0.247911,0.016713,0.178273,35.017827,20.018217,54.630975,75.881894
std,0.980822,1.269089,0.349600,0.420396,0.489045,0.147812,0.409083,0.476163,0.432402,0.128373,0.383277,10.662561,8.094140,33.097935,30.818669
min,0.491000,0.524000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.320000,1.980000,18.680000,25.000000
25%,2.260500,1.510500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,27.640000,14.600000,36.320000,54.600000
50%,3.040000,2.489000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,34.800000,20.680000,46.800000,73.560000
75%,3.674000,3.652000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,41.460000,25.380000,60.200000,90.000000
max,4.920000,5.690000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,70.000000,53.200000,300.000000,259.840000

In [94]:
print("Jura Target Characteristics:")
print(f'Number of targets: {jura_data.target.shape[1]}')
print(f'Number of samples: {jura_data.target.shape[0]}')
jura_data.target.describe()

Jura Target Characteristics:
Number of targets: 3
Number of samples: 359

               Cd          Co          Cu
count  359.000000  359.000000  359.000000
mean     1.288237    9.439086   23.585471
std      0.859098    3.568250   22.267948
min      0.135000    1.552000    3.552000
25%      0.652500    6.660000   10.470000
50%      1.100000    9.840000   17.200000
75%      1.680000   12.100000   26.920000
max      5.129000   20.600000  166.400000

In [95]:
print("Enb Data Characteristics:")
print(f'Number of features: {enb_data.data.shape[1]}')
enb_data.data.describe()

Enb Data Characteristics:
Number of features: 8

,Relative_compactness,X1,X3,X4,X5,X6,X7,X8
count,768.000000,768.000000,768.000000,768.000000,768.00000,768.000000,768.000000,768.00000
mean,0.764167,671.708333,318.500000,176.604167,5.25000,3.500000,0.234375,2.81250
std,0.105777,88.086116,43.626481,45.165950,1.75114,1.118763,0.133221,1.55096
min,0.620000,514.500000,245.000000,110.250000,3.50000,2.000000,0.000000,0.00000
25%,0.682500,606.375000,294.000000,140.875000,3.50000,2.750000,0.100000,1.75000
50%,0.750000,673.750000,318.500000,183.750000,5.25000,3.500000,0.250000,3.00000
75%,0.830000,741.125000,343.000000,220.500000,7.00000,4.250000,0.400000,4.00000
max,0.980000,808.500000,416.500000,220.500000,7.00000,5.000000,0.400000,5.00000

In [96]:
print("Enb Target Characteristics:")
print(f'Number of targets: {enb_data.target.shape[1]}')
print(f'Number of samples: {enb_data.target.shape[0]}')
enb_data.target.describe()

Enb Target Characteristics:
Number of targets: 2
Number of samples: 768

               Y1          Y2
count  768.000000  768.000000
mean    22.307201   24.587760
std     10.090196    9.513306
min      6.010000   10.900000
25%     12.992500   15.620000
50%     18.950000   22.080000
75%     31.667500   33.132500
max     43.100000   48.030000

In [97]:
print("ATP1D Data Characteristics:")
print(f'Number of features: {atp1d_data.data.shape[1]}')
atp1d_data.data.describe()

ATP1D Data Characteristics:
Number of features: 370

,departwb,fetchdays,fetchdow,dtd,ALLminpA,ALLminpAl1,ALLminpAl2,ALLminpAl7,ALLavgpA,ALLavgpAl1,...,aOTHERavgp4,aOTHERavgp4l1,aOTHERavgp4l2,fdisoweekday1,fdisoweekday2,fdisoweekday3,fdisoweekday4,fdisoweekday5,fdisoweekday6,fdisoweekday7
count,337.000000,337.000000,337.000000,337.000000,337.000000,337.000000,337.000000,337.000000,337.000000,337.000000,...,337.000000,337.000000,337.000000,337.000000,337.000000,337.000000,337.000000,337.000000,337.000000,337.000000
mean,130.243323,100.854599,4.160237,29.388724,316.172107,310.094955,304.810089,291.821958,528.595935,518.212433,...,515.075608,505.347448,494.426706,0.133531,0.133531,0.133531,0.124629,0.151335,0.160237,0.163205
std,35.552696,23.213802,2.029065,23.459443,89.151924,76.580586,63.909065,35.923833,141.389164,125.543750,...,130.733080,115.236834,99.842919,0.340654,0.340654,0.340654,0.330789,0.358908,0.367372,0.370102
min,72.000000,69.000000,1.000000,1.000000,198.000000,198.000000,199.000000,171.000000,355.060000,355.060000,...,346.000000,346.000000,344.940000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,100.000000,80.000000,2.000000,11.000000,273.000000,277.000000,277.000000,278.000000,440.850000,437.990000,...,431.120000,431.120000,426.470000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,121.000000,94.000000,4.000000,24.000000,292.000000,292.000000,292.000000,292.000000,482.130000,480.070000,...,479.450000,478.850000,474.780000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,142.000000,122.000000,6.000000,41.000000,321.000000,318.000000,313.000000,309.000000,540.050000,539.470000,...,528.550000,526.500000,521.310000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,233.000000,144.000000,7.000000,92.000000,788.000000,788.000000,640.000000,456.000000,1104.360000,1023.440000,...,1040.810000,930.380000,876.450000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [98]:
print("ATP1D Target Characteristics:")
print(f'Number of targets: {atp1d_data.target.shape[1]}')
print(f'Number of samples: {atp1d_data.target.shape[0]}')
atp1d_data.target.describe()

ATP1D Target Characteristics:
Number of targets: 6
Number of samples: 337

,LBL_ALLminpA_fut_001,LBL_ALLminp0_fut_001,LBL_aDLminpA_fut_001,LBL_aCOminpA_fut_001,LBL_aFLminpA_fut_001,LBL_aUAminpA_fut_001
count,337.000000,337.000000,337.000000,337.000000,337.000000,337.000000
mean,322.065282,433.115727,458.887240,470.667656,344.445104,470.421365
std,101.550400,250.689872,184.054839,165.814555,119.978957,173.672877
min,198.000000,199.000000,198.000000,299.000000,232.000000,278.000000
25%,273.000000,299.000000,329.000000,329.000000,277.000000,319.000000
50%,292.000000,337.000000,406.000000,433.000000,303.000000,430.000000
75%,319.000000,419.000000,496.000000,513.000000,346.000000,513.000000
max,788.000000,1349.000000,1151.000000,973.000000,794.000000,1088.000000